---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17vBV3FdcisUpWXbFPlBZDGA",
          "object": "token",
          "card": {
            "id": "card_17vBV3FdcisUpWXbmzwB7v7f",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "bhtT1Gdkkv3feyb4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "83.80.250.29",
          "created": 1459452637,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 31 Mar 2016 19:30:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Klaas+Vaak&plan=myflix&source=tok_17vBV3FdcisUpWXbFPlBZDGA
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8BYclDuVjWYB3Q",
          "object": "customer",
          "account_balance": 0,
          "created": 1459452638,
          "currency": "usd",
          "default_source": "card_17vBV3FdcisUpWXbmzwB7v7f",
          "delinquent": false,
          "description": "Klaas Vaak",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17vBV3FdcisUpWXbmzwB7v7f",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8BYclDuVjWYB3Q",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "bhtT1Gdkkv3feyb4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8BYclDuVjWYB3Q/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8BYchsd014aH5y",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1462044638,
                "current_period_start": 1459452638,
                "customer": "cus_8BYclDuVjWYB3Q",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "myflix",
                  "object": "plan",
                  "amount": 999,
                  "created": 1459451909,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "MyFlix",
                  "statement_descriptor": "MyFlix Subscription",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1459452638,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8BYclDuVjWYB3Q/subscriptions"
          }
        }
  recorded_at: Thu, 31 Mar 2016 19:30:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&customer=cus_8BYclDuVjWYB3Q&description=signup+fee
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17vBV5FdcisUpWXb5mUIE04o",
          "object": "charge",
          "amount": 300,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17vBV5FdcisUpWXbFrraZUgo",
          "captured": true,
          "created": 1459452639,
          "currency": "usd",
          "customer": "cus_8BYclDuVjWYB3Q",
          "description": "signup fee",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17vBV5FdcisUpWXb5mUIE04o/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17vBV3FdcisUpWXbmzwB7v7f",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8BYclDuVjWYB3Q",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "bhtT1Gdkkv3feyb4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 31 Mar 2016 19:30:39 GMT
recorded_with: VCR 3.0.1
