!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX: Payment failed
    %meta(charset="UTF-8")
  %body
    %h3 MyFLiX - Payment failed
    %p Hello #{@user.name},
    %p
      Your payment to continue your subscription of MyFlix has failed. This has caused your account to be locked until the
      required price of $9.99 has been payed.
