!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX: Reset password
    %meta(charset="UTF-8")
  %body
    %h3 MyFLiX - Reset password
    %p Hello #{@user.name},
    %p
      You've requested to reset the password of your MyFLiX&copy; account. Please click on the link below to set a new password.
    %p
      %center
        = link_to "Reset password", reset_password_url(token: @user.token)

    %p Good luck and have fun!
