---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Jewel+Smith+Sr.&source=tok_17q9AfFdcisUpWXbHu5jokMX
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_86LsoUKuzpQDnb",
          "object": "customer",
          "account_balance": 0,
          "created": 1458252046,
          "currency": null,
          "default_source": "card_17q9AfFdcisUpWXbhTV2tmQ9",
          "delinquent": false,
          "description": "Jewel Smith Sr.",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17q9AfFdcisUpWXbhTV2tmQ9",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_86LsoUKuzpQDnb",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "bhtT1Gdkkv3feyb4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_86LsoUKuzpQDnb/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_86LsoUKuzpQDnb/subscriptions"
          }
        }
  recorded_at: Thu, 17 Mar 2016 22:00:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&customer=cus_86LsoUKuzpQDnb&description=MyFLiX+Signup+fee+for+mary_wiegand%40west.org
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17q9AhFdcisUpWXbpi4LcYxH",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17q9AhFdcisUpWXbAj97u3kB",
          "captured": true,
          "created": 1458252047,
          "currency": "usd",
          "customer": "cus_86LsoUKuzpQDnb",
          "description": "MyFLiX Signup fee for mary_wiegand@west.org",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17q9AhFdcisUpWXbpi4LcYxH/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17q9AfFdcisUpWXbhTV2tmQ9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_86LsoUKuzpQDnb",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "bhtT1Gdkkv3feyb4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 17 Mar 2016 22:00:47 GMT
recorded_with: VCR 3.0.1
