---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17vBr3FdcisUpWXbYJVx3BSn",
          "object": "token",
          "card": {
            "id": "card_17vBr3FdcisUpWXbdtVpJrZV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "bhtT1Gdkkv3feyb4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "83.80.250.29",
          "created": 1459454001,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 31 Mar 2016 19:53:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Klaas+Vaak&plan=base&source=tok_17vBr3FdcisUpWXbYJVx3BSn
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8BYzqEwk9vIV92",
          "object": "customer",
          "account_balance": 0,
          "created": 1459454002,
          "currency": "usd",
          "default_source": "card_17vBr3FdcisUpWXbdtVpJrZV",
          "delinquent": false,
          "description": "Klaas Vaak",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17vBr3FdcisUpWXbdtVpJrZV",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8BYzqEwk9vIV92",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "bhtT1Gdkkv3feyb4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8BYzqEwk9vIV92/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_8BYzhpRB4cBbka",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1462046002,
                "current_period_start": 1459454002,
                "customer": "cus_8BYzqEwk9vIV92",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1459453986,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "Base plan",
                  "statement_descriptor": "MyFlix Subscription",
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1459454002,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8BYzqEwk9vIV92/subscriptions"
          }
        }
  recorded_at: Thu, 31 Mar 2016 19:53:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=0&currency=usd&customer=cus_8BYzqEwk9vIV92&description=signup+fee
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid positive integer",
            "param": "amount"
          }
        }
  recorded_at: Thu, 31 Mar 2016 19:53:24 GMT
recorded_with: VCR 3.0.1
