%script.stripe-button{ :src => "https://checkout.stripe.com/checkout.js", 'data-key' => Rails.configuration.stripe[:publishable_key], 'data-amount' => amount, 'data-name' => name, 'data-description' => description, 'data-locale' => 'auto', 'data-label' => button }
