---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17nbrJFdcisUpWXb7RIqwr4t",
          "object": "token",
          "card": {
            "id": "card_17nbrJFdcisUpWXbpKXxOjaI",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "bhtT1Gdkkv3feyb4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "83.80.250.29",
          "created": 1457647337,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 10 Mar 2016 22:02:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Klaas+Vaak&source=tok_17nbrJFdcisUpWXb7RIqwr4t
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_83jJ1eXJScIOrj",
          "object": "customer",
          "account_balance": 0,
          "created": 1457647338,
          "currency": null,
          "default_source": "card_17nbrJFdcisUpWXbpKXxOjaI",
          "delinquent": false,
          "description": "Klaas Vaak",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17nbrJFdcisUpWXbpKXxOjaI",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_83jJ1eXJScIOrj",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "bhtT1Gdkkv3feyb4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_83jJ1eXJScIOrj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_83jJ1eXJScIOrj/subscriptions"
          }
        }
  recorded_at: Thu, 10 Mar 2016 22:02:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&customer=cus_83jJ1eXJScIOrj
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17nbrLFdcisUpWXbwO8jSzhd",
          "object": "charge",
          "amount": 300,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17nbrLFdcisUpWXbGhEccXIn",
          "captured": true,
          "created": 1457647339,
          "currency": "usd",
          "customer": "cus_83jJ1eXJScIOrj",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17nbrLFdcisUpWXbwO8jSzhd/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17nbrJFdcisUpWXbpKXxOjaI",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_83jJ1eXJScIOrj",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "bhtT1Gdkkv3feyb4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 10 Mar 2016 22:02:20 GMT
recorded_with: VCR 3.0.1
