---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2017&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17upneFdcisUpWXbT3KnvzCx",
          "object": "token",
          "card": {
            "id": "card_17upneFdcisUpWXb9PTCheaR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "bhtT1Gdkkv3feyb4",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "83.80.250.29",
          "created": 1459369222,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 30 Mar 2016 20:20:22 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Klaas+Vaak&source=tok_17upneFdcisUpWXbT3KnvzCx
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8BCCrauyBfdZ8E",
          "object": "customer",
          "account_balance": 0,
          "created": 1459369223,
          "currency": null,
          "default_source": "card_17upneFdcisUpWXb9PTCheaR",
          "delinquent": false,
          "description": "Klaas Vaak",
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17upneFdcisUpWXb9PTCheaR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8BCCrauyBfdZ8E",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "bhtT1Gdkkv3feyb4",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8BCCrauyBfdZ8E/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8BCCrauyBfdZ8E/subscriptions"
          }
        }
  recorded_at: Wed, 30 Mar 2016 20:20:23 GMT
recorded_with: VCR 3.0.1
