---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17xMlKFdcisUpWXb5Srat0ot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_pnnsQ2cO51UJS9KCiY3JjJlZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-02-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17xMlKFdcisUpWXb5Srat0ot",
          "object": "event",
          "api_version": "2016-02-03",
          "created": 1459972586,
          "data": {
            "object": {
              "id": "ch_17xMlKFdcisUpWXbEgj1Ur0G",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1459972586,
              "currency": "usd",
              "customer": "cus_8Dmj3tsm2zfZgd",
              "description": "payment to fail",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17xMlKFdcisUpWXbEgj1Ur0G/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17xMkhFdcisUpWXbOPxAsfCz",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8Dmj3tsm2zfZgd",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 4,
                "exp_year": 2017,
                "fingerprint": "qGYqEeiK0dZbPzYn",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_8DoOz0LKYGx0Cn",
          "type": "charge.failed"
        }
  recorded_at: Wed, 06 Apr 2016 19:58:36 GMT
recorded_with: VCR 3.0.1
